.heading-page {
  display: flex;
  align-items: center;
  padding: 20px;
}

.heading-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px;
}
